main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #554bb9;
}

main .contain{
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 20px;
    z-index: 2;
}
main .contain .dau h1{
    font-size: 20px;
    color: white;
}
main .contain .dau p{
    font-weight: 800;
    font-size: 22px;
    color: orange;
}

main .contain:hover .dau{
    background: white;
    color: #554bb9;
    animation: move .5s linear;
}
main .contain:hover .dau h1{
    color: #554bb9;
}
#product .contain{
    position: relative;
    overflow: hidden;
}
#product .contain::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/dots2.png);
    transform: rotate(45deg) translate(20%,50%);
    z-index: -1;
}

@keyframes move {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

main .btn-buy{
    background: #e84393;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 30px;
  }

main img{
    height: 90px;
}
